* {
    text-align: center;
}
/*header {*/
   /* margin-left: auto;
/*}*/
p{
    font-size: 40px;
}
button {
	height: 50px;
	width: 250px;
	background-color: #FF0000;
	border-radius: 4px;
	font: 1.5em bold;
}
#wrapper {
    position: relative;
    margin: 4%;
}
#ui_message {
    font-size: 20px;
    margin: 4%;
    padding: 5px;
}
table {
    display: inline-block;
}
.cell {
   font-size: 50px;
   color: white;
   height: 50px;
   width: 50px;
   padding:50px;
   background-color: black;
   border:1px solid black;
   margin: 10px 10px 10px 10px;
/*}*/